# https://thoughtbot.com/blog/rendering-collections-in-rails

<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Shark:</strong>
  <%= @post.shark_id %>
</p>

<h2>Posts</h2>
<% for post in @shark.posts %>
    <ul>
      <li><%= post.body %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_shark_post_path(@shark) %>
<%= link_to 'Add Post', shark_posts_path(@shark) %>
<%= link_to 'Back', sharks_path %>
